<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<context:property-placeholder
		file-encoding="UTF-8" location="classpath:email.properties"
		system-properties-mode="NEVER" />

	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${host}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="defaultEncoding" value="${defaultEncoding}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<!-- 使用gmail smtp server的必须参数 -->
				<!-- <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop> -->
			</props>
		</property>
	</bean>

	<bean id="emailTemplate" class="com.spring.email.EmailTemplate">
		<property name="javaMailSender" ref="javaMailSender" />
		<property name="from" value="${username}" />
	</bean>

</beans>